name: Test

on:
  push:
    branches: ["main"]
  pull_request: {}
  workflow_dispatch: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Cache golang modules
        uses: actions/cache@v2
        with:
          path: |
            ~/go
          key: ${{ runner.os }}-go-v1
          restore-keys: |
            ${{ runner.os }}-go-
      
      - name: Install json-schema validator
        run: go get neilpa.me/yajsv

      - name: Test
        run: scripts/test.sh
